body{
    margin: 0px;
    padding: 0px;
}
.container{
    border: 2px solid black;
    padding: 50px;
    width: 350px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    display: grid;
    background-color: rgb(190, 220, 246);
}
img{
    border-radius: 50px;
    padding-bottom: 15px;
}
button{
    margin-top: 15px;
    border-radius: 25px;
    padding: 5px;
}
input{
    padding: 5px;
    width: 225px;
    border-radius: 9px;
    height:35px;
}